{% extends "dashboard.html" %}

{% block conteudo %}  
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" style="font-size: 11px">
            Admin & Usuários
            <!-- comment 
                        <a href="{{url('admin/dashboard')}}">
                    Admin & Usuários
                </a>   -->
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            Relação dos Posts de Matéria Prima para Blog
        </li>
    </ol>
</nav>

{{ flash() }}

<div class="card border-0 shadow-sm">
    <div class="card-header bg-white border-bottom d-flex justify-content-between align-items-center">
        
        <div>
            <span class="badge rounded text-bg-secondary">{{formatarNumero(total.posts)}} categorias</span> 
            <span class="badge rounded text-bg-success">{{formatarNumero(total.postsAtivo)}} ativa</span> 
            <span class="badge rounded text-bg-danger">{{formatarNumero(total.postsInativo)}} inativa</span> 
        </div>

        <div class="mb-3">
            <a href="{{url('admin/posts/cadastrar')}}" class="btn btn-primary" tooltip="tooltip" title="Cadastrar Post Blog">Cadastrar</a>
        </div>     

    </div>
    <div class="card-body">

        <div class="table-responsive">

            <table id="tabelaPosts" url="{{url()}}" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Capa Blog</th>
                        <th class="text-center">Produto Blog</th>
                        <th>Categoria tipo</th>
                        <th>Visitas</th>
                        <th>Status</th>
                        <th>Ação</th>
                    </tr>
                    
                </thead>

            </table>

        </div>     


    </div>
</div>
{% endblock %}