{% extends "dashboard.html" %}

{% block conteudo %}  
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{url('admin/dashboard')}}">
                Admin & Usuários
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            Cadastrar Fornecedor
        </li>
    </ol>
</nav>
{{ flash() }}
<div class="card border-0 shadow-sm">
    <div class="card-body">
        <form action="{% if fornecedor.id_fornecedor %}{{url('admin/fornecedor/editar/'~id_fornecedor)}}{%else%}{{url('admin/fornecedor/cadastrar')}}{%endif%}" method="post">
            <div class="row">

                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="nome_fornec" class="form-label">Nome do Fornecedor</label>
                        <input type="text" name="nome_fornec" id="nome_fornec" class="form-control">             
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="cnpj_fornec" class="form-label">Cnpj</label>
                        <input type="text" name="cnpj_fornec" id="cnpj_fornec" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="mb-3">
                        <label for="endereco_fornec" class="form-label">Endereço</label>
                        <input type="text" name="endereco_fornec" id="endereco_fornec" class="form-control">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="mb-3">
                        <label for="contato_whatsapp" class="form-label">Contato_Whatsapp</label>
                        <input type="text" name="contato_whatsapp" id="contato_whatsapp" class="form-control">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="mb-3">
                        <label for="email_fornec" class="form-label">Email</label>
                        <input type="text" name="email_fornec" id="email_fornec" class="form-control" >
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="mb-3">
                        <label for="status" class="form-label">Status</label>
                        <select class="form-select" name="status">
                            <option value="1">Ativo</option>
                            <option value="0">Inativo</option>
                        </select>
                    </div>
                </div>
            </div>

            <input type="submit" class="btn btn-primary" value="Cadastrar"><hr>
            <div class="row">
                <div class="col-md-4">
                    <div class="mb-3">
                        <a href="{{url('admin/fornecedor/consultar')}}" class="btn btn-outline-secondary" tooltip="tooltip" title="Consultar Fornecedor">Consultar Fornecedor</a>
                        <a href="{{url('admin/fornecedor/listar')}}" class="btn btn-outline-secondary" tooltip="tooltip" title="Voltar ao Menu">Voltar</a>
                    </div>
                </div>
            </div>
        </form>   
    </div>
</div>
{% endblock %}