{% extends "dashboard.html" %}

{% block conteudo %}  
<div class="card border-0 shadow-sm">
    <div class="card-header bg-white border-0">
        <h5 class="card-title">Relaçao de Fornecedores</h5>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Endereço</th>
                        <th scope="col">Contato</th>
                        <th scope="col">Email</th>
                    </tr>
                </thead>
                <tbody>
                    {% for fornecedor in fornecedores %}
                    <tr>
                        <th>{{fornecedor.id_fornecedor}}</th>
                        <td>{{fornecedor.nome_fornec}}</td>
                        <td>{{fornecedor.endereco_fornec}}</td>
                        <td>{{fornecedor.contato_whatsapp}}</td>
                        <td>{{fornecedor.email_fornec}}</td>
                        <td>
                            {% if fornecedor.status == 1 %}
                            Ativo
                            {% else %}
                            Inativo
                            {% endif %}
                        </td>
                        <td></td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>     
        
        
    </div>
</div>
{% endblock %}