{% extends "dashboard.html" %}

{% block conteudo %}  
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" style="font-size: 11px">
            Admin & Usuários
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            Relação de Fornecedores
        </li>
    </ol>
</nav>
{{ flash() }}
<div class="card border-0 shadow-sm">
    <div class="card-header bg-white border-0 d-flex justify-content-between align-items-center">
        <div>
            <span class="badge rounded text-bg-secondary">{{total.fornecedor}} Fornecedor(s)</span> 
            <span class="badge rounded text-bg-success">{{total.fornecedorAtiva}} ativo</span> 
            <span class="badge rounded text-bg-danger">{{total.fornecedorInativa}} inativo</span> 
        </div>
        <a href="{{url('admin/fornecedor/cadastrar')}}" class="btn btn-primary" tooltip="tooltip" title="Cadastrar Fornecedor">Cadastrar</a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table id="tabelaFornecedor" url="{{url()}}" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Endereço</th>
                        <th scope="col">Contato</th>
                        <th scope="col">Email</th>
                        <th class="text-center">Status</th>
                        <th class="text-center">Ações</th>
                </tr>
                </thead>
            </table>
        </div>     
    </div>
</div>
{% endblock %}