<input type="checkbox" id="menu"><!-- Menu Painel Adm -->
<div class="sidebar">
    <div class="sidebarLogo">
        <a href="{{url('admin/dashboard')}}" data-bs-toggle="tooltip" title="Pagina Inicial">
            <div class="logo">
                <img src="https://i.postimg.cc/k54vbtBF/userlmn-ebfdb7b90b9b59a3c0ece37c1d46cf20-removebg-preview.png" alt="{{constant('SITE_NOME')}}"/>
            </div>
        </a>
    </div>
    
    <div class="sidebarMenu">
        <ul>
            <li class="sidebarTitulo">
                Portal Produção Clientes
            </li>
           
            <li>
                <a href="{{url('producao/fornecedor/listar')}}" tooltip="tooltip" title="Administração Fornecedores">
                    <i class="fas fa-users"></i>
                    <span>Fornecedores</span>
                </a>
            </li>
            <li>
                <a href="{{url('producao/mixProdutos/listar')}}" tooltip="tooltip" title="Administração Mix Produtos">
                    <i class="fa-solid fa-list"></i>
                    <span>Mix de Produtos</span>
                </a>
            </li>
            <li>
                <a href="{{url('producao/receitas/listar')}}" tooltip="tooltip" title="Administração Receitas">
                    <i class="fa-solid fa-list"></i>
                    <span>Receitas</span>
                </a>
            </li>
            <li>
                <a href="{{url('producao/producao/listar')}}" tooltip="tooltip" title="Administração Planejamento Produção">
                    <i class="fa-solid fa-list"></i>
                    <span>PLANEJAMENTO de Produção</span>
                </a>
            </li>
            <li>
                <a href="{{url('producao/compras/listar')}}" tooltip="tooltip" title="Administração Compras Pedido Produção">
                    <i class="fa-solid fa-list"></i>
                    <span>Compras / Pedidos</span>
                </a>
            </li>
            <li>
                <a href="{{url('producao/estoqueMp/listar')}}" tooltip="tooltip" title="Administração Planejamento Produção">
                    <i class="fa-solid fa-list"></i>
                    <span>Estoque / Matéria Prima</span>
                </a>
            </li>
        </ul>
    </div>
</div>