{% extends "dashboard.html" %}

{% block conteudo %}  
<div class="card border-0 shadow-sm">
    <div class="card-header bg-white border-0">
        <h5 class="card-title">Categorias</h5>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Título</th>
                        <th scope="col">Status</th>
                        <th scope="col">Açoes</th>
                    </tr>
                </thead>
                <tbody>
                    {% for categoria in categorias %}
                    <tr>
                        <th>{{categoria.id}}</th>
                        <td>{{categoria.titulo}}</td>
                        <td>
                            {% if categoria.status == 1 %}
                            Ativo
                            {% else %}
                            Inativo
                            {% endif %}
                        </td>
                        <td></td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>     
        
        
    </div>
</div>
{% endblock %}