{% extends 'base.html' %}
{% block conteudo %}
 <h5> Somos a LAB Consultoria & Treinamentos, a solução e o sucesso de sua empresa está aqui!</h5>

<div class="container my-5">
    
    <div class="row">
        <div class="col-lg-9 col-md-12">

    <div class="row">
        {% for post in posts %}
        <div class="col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <a href="{{url('post/'~post.titulo)}}" tooltip="tooltip" title="{{post.titulo}}">
                        <h4 class="card-title">{{post.titulo}}</h4>
                    <p class="card-text">{{resumirTexto(post.texto, 150)}}</p>
                    </a>
                </div>
            </div>
        </div>    
        {%endfor %}
    </div>
            
        </div>
        
        <div class="col-lg-3">
            
           
        </div>
        
        </div>

</div>
{% endblock %}
