
{% extends 'base.html' %}

{% block conteudo %}

<h5>A LAB Consultoria e Treinamento é uma empresa que tem como proposta a prestação de serviços técnicos nos diferentes setores da alimentação e bebidas.
    Com foco em gestão e resultados de forma acessível e enxuta. Personaliza projetos atendendo às demandas específicas de seus clientes desde apuração de custos à implantação e melhoria de processos da gestão produtiva, layout e fluxo industriais, inovação e novas tecnologias, além de adequação de normas técnicas, padronização de mix de produtos, pesquisa e desenvolvimento de novos produtos.  </h5>


{% endblock %}