<header class="p-3 text-bg-dark">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="{{ url() }}" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                 <img src="{{ url('templates/site/assets/img/LAB_MARCA.png') }}" alt="lablogo" height="72" width="120">
            </a>

            <ul class="navbar navbar-dark bg-dark col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-2">
                <li>
                    <a href="{{ url('index') }}" class="nav-link px-2" tooltip="tooltip" title="Página Inicial">Home</a>
                </li>
                        
                <li>
                    <a href="{{ url('sobre') }}" class="nav-link px-2" tooltip="tooltip" title="Sobre Nós">Sobre nós</a>
                </li>
                
                <li>
                    <a href="{{ url('contatos') }}" class="nav-link px-2" tooltip="tooltip" title="Contatos">Contatos</a>
                </li>
            </ul>

            <form data-url-busca="{{ url('buscar') }}" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                <input type="search" name="busca" id="busca" class="form-control form-control-dark text-bg-dark" placeholder="Buscar..." aria-label="Search">
            </form>            

            <div class="text-end">
                <a href="" class="btn btn-outline-light me-2" tooltip="tooltip" title="Faça login">
                    Entrar
                </a>
                <a href="" class="btn btn-warning" tooltip="tooltip" title="Junte-se a nós">
                    Cadastre-se
                </a>
            </div>
        </div>
        
        <div class="my-3" id="buscaResultado"></div>
        
    </div>
</header>