{% extends "dashboard.html" %}

{% block conteudo %}  
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{url('admin/dashboard')}}">
                Admin
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            Mix de Produtos Clientes
        </li>
    </ol>
</nav>
{{ flash() }}
<div class="card border-0 shadow-sm">
    <div class="card-header bg-white border-0 d-flex justify-content-between align-items-center">
        <div>
            <span class="badge rounded text-bg-secondary">{{total.mixproduto}} total</span> 
            <span class="badge rounded text-bg-success">{{total.mixprodutoAtiva}} ativo</span> 
            <span class="badge rounded text-bg-danger">{{total.mixprodutoInativa}} inativo</span> 
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Cod_Prod_mix</th>
                        <th scope="col">Nome Produto</th>
                        <th scope="col">departamento</th>
                        <th scope="col">Rend_Kg</th>
                        <th scope="col">Rend_receita_Unid</th>
                        <th scope="col">Validade</th>
                        <th scope="col">Categoria</th>
                        <th class="text-center">Status</th>
                        <th class="text-center">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for mix in mixproduto %}
                    <tr>
                        <th>{{mix.id_tbl_produto_mix}}</th>
                        <td>{{mix.cod_prod_mix}}</td>
                        <td>{{mix.produto_mix}}</td>
                        <td>{{mix.departamento}}</td>
                        <td>{{mix.rendimento_receita_kg}}</td>
                        <td>{{mix.rendimento_receita_unid}}</td>
                        <td>{{mix.validade_produto}}</td>
                        <td>{{mix.categoria_produto}}</td>               
                        <td class="text-center">
                            {% if mix.status == 1 %}
                            <i class="fa-solid fa-circle text-success" tooltip="tooltip" title="Ativo"></i>
                            {% else %}
                            <i class="fa-solid fa-circle text-danger" tooltip="tooltip" title="Inativo"></i>
                            {% endif %}
                        </td>
                        <td class="text-center">
                            <a href="#info{{mix.id_tbl_produto_mix}}" data-bs-toggle="offcanvas" tooltip="tooltip" title="Status">
                                <i class="fa-solid fa-arrow-trend-up"></i>
                            </a>
                            <a href="{{ url('admin/mixProdutos/editar/'~mix.id_tbl_produto_mix) }}" tooltip="tooltip" title="Editar">
                                <i class="fa-solid fa-pen m-1"></i>
                            </a>
                            <a href="{{ url('admin/mixProdutos/deletar/'~mix.id_tbl_produto_mix) }}" tooltip="tooltip" title="Deletar">
                                <i class="fa-solid fa-trash m-1"></i>
                            </a>
                        </td>
                    </tr>
                    <div class="offcanvas offcanvas-start" tabindex="-1" id="info{{mix.id_tbl_produto_mix}}">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasExampleLabel">{{mix.produto_mix}}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                Validade Produto: {{mix.validade.produto}}
                            </li>
                            <li class="list-group-item">
                                Fábricado por: {{mix.departamento}}
                            </li>
                            <li class="list-group-item">
                                Departamento: {{mix.departamento}}
                            </li>
                            <li class="list-group-item">
                                Cadastrado em: <b>{{mix.cadastrado_em}}</b>
                            </li>
                        </ul>
                    </div>
                </div>
                    {%endfor%}
                </tbody>
            </table>
            <a href="{{url('admin/mixProdutos/cadastrar')}}" class="btn btn-primary" tooltip="tooltip" title="Cadastrar Mix">Cadastrar</a>
            <a href="{{url('admin/mixProdutos/consultar')}}" class="btn btn-outline-secondary" tooltip="tooltip" title="Consultar Mix">Consultar</a>     
        </div>     
    </div>
</div>
{% endblock %}