{% extends "dashboard.html" %}

{% block conteudo %}  
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" style="font-size: 11px">
            ADMIN & Usuários
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            Relação de Mix Produtos Clientes
        </li>
    </ol>
</nav>
{{ flash() }}
<div class="card border-0 shadow-sm">
    <div class="card-header bg-white border-0 d-flex justify-content-between align-items-center">
        <div>
            <span class="badge rounded text-bg-secondary">{{total.mixproduto}} total</span> 
            <span class="badge rounded text-bg-success">{{total.mixprodutoAtiva}} ativo</span> 
            <span class="badge rounded text-bg-danger">{{total.mixprodutoInativa}} inativo</span> 
        </div>
        <a href="{{url('admin/mixProdutos/cadastrar')}}" class="btn btn-primary" tooltip="tooltip" title="Cadastrar Mix">Cadastrar</a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table id="tabelamixProdutos" url="{{url()}}" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Cod.</th>
                        <th scope="col">Nome Produto</th>
                        <th scope="col">departamento</th>
                        <th scope="col">Rend_Kg</th>
                        <th scope="col">Rend_receita_Unid</th>
                        <th scope="col">Validade</th>
                        <th scope="col">Categoria</th>
                        <th scope="col">Cliente</th>
                        <th class="text-center">Status</th>
                        <th class="text-center">Ações</th>
                    </tr>
                </thead>
            </table>
        </div>     
    </div>
</div>
{% endblock %}