{% extends "dashboard.html" %}

{% block conteudo %}  
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{url('admin/dashboard')}}">
                Admin
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            Clientes
        </li>
    </ol>
</nav>
<div class="card border-0 shadow-sm">
    <div class="card-body">
        <form action="{{url('admin/clientes/cadastrar')}}" method="post">
            <div class="mb-3">
                <label for="Nome" class="form-label">Nome Cliente</label>
                <input type="text" name="nome" id="nome" class="form-control">
            </div>
            <div class="mb-3">
                <label for="texto" class="form-label">Endereço</label>
                <textarea name="endereco" id="endereco" class="form-control" rows="3"></textarea>
            </div>
            <div class="mb-3">
                <label for="bairro" class="form-label">Bairro</label>
                <input type="text" name="bairro" id="bairro" class="form-control"></input>             
            </div>
            <div class="mb-3">
                <label for="cidade" class="form-label">Cidade</label>
                <input type="text" name="cidade" id="cidade" class="form-control"></input>
            </div>
            
            <div class="mb-3">
                <label for="estado" class="form-label">Modo de preparo</label>
                <textarea name="texto" id="texto" class="form-control" rows="2"></textarea>
            </div>
            <div class="mb-3">
                <label for="texto" class="form-label">Qtde prevista da receita</label>
                <textarea name="texto" id="texto" class="form-control" rows="1"></textarea>
            </div>
            <div class="mb-3">
                <label for="texto" class="form-label">Validade</label>
                <textarea name="texto" id="texto" class="form-control" rows="1"></textarea>
            </div>
            <div class="mb-3">
                <label for="texto" class="form-label">Observação</label>
                <textarea name="texto" id="texto" class="form-control" rows="3"></textarea>
            </div>
                    <div class="mb-3">
                        <label for="status" class="form-label">Status</label>
                        <select class="form-select" name="status">
                            <option value="1">Ativo</option>
                            <option value="0">Inativo</option>
                        </select>
                    </div>
            <input type="submit" class="btn btn-primary" value="Cadastrar">
        </form>
    </div>    
</div>
{% endblock %}