{% extends 'dashboard.html' %}

{% block conteudo %}  
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" style="font-size: 11px">
            <a href="{{url('admin/dashboard')}}">
                Admin
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            Cadastrar Receitas
        </li>
    </ol>
</nav>
{{ flash() }}
<div class="card border-0 shadow-sm">
    <div class="card-body">
        <form action="{% if receita.id %}{{url('admin/receitas/editar/'~receita.id)}}{%else%}{{url('admin/receitas/cadastrar')}}{%endif%}" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-5">
                    <div class="mb-3">
                        <label for="nome_receita" class="form-label">Nome da Receita</label>
                        <input type="text" name="nome_receita" id="nome_receita" value="{{receita.nome_receita}}" class="form-control">            
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="mb-3">
                        <label for="descricao_receita" class="form-label">Descrição</label>
                        <input type="text" name="descricao_receita" id="descricao_receita" value="{{receita.descricao_receita}}" class="form-control">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="mb-3">
                        <label for="status" class="form-label">Status</label>
                        <select class="form-select" name="status">
                            <option value="1" {% if receita.status == '1' %}selected{%endif%}>Ativo</option>
                            <option value="0" {% if receita.status == '0' %}selected{%endif%}>Inativo</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label for="modo_preparo" class="form-label">Modo de preparo</label>
                <textarea name="modo_preparo" id="modo_preparo" class="form-control" rows="3">{{receita.modo_preparo}}</textarea>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="mb-3">
                        <label for="qtde_prevista_receita" class="form-label">Qtde prevista da receita</label>
                        <input type="text" name="qtde_prevista_receita" id="qtde_prevista_receita" value="{{receita.qtde_prevista_receita}}" class="form-control">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="validade_receita" class="form-label">Validade</label>
                        <input type="date" name="validade_receita" id="validade_receita" value="{{receita.validade_receita}}" class="form-control">
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="mb-3">
                        <label for="id_tbl_cliente_fabrica" class="form-label">Cliente Fábrica</label>
                        <select class="form-select" name="id_tbl_cliente_fabrica" id="id_tbl_cliente_fabrica">
                            {% for cliente in clientes %}
                            <option value="{{cliente.id}}"  {% if receita.id_tbl_cliente_fabrica == cliente.id %}selected{%endif%}>{{cliente.nome_cliente}}</option>
                            {%endfor%}
                        </select>
                    </div>
                </div>

            </div>
            <div class="mb-3">
                <label for="observacao_receita" class="form-label">Observação</label>
                <textarea name="observacao_receita" id="observacao_receita" class="form-control" rows="1">{{receita.observacao_receita}}</textarea>
            </div>

            <input type="submit" class="btn btn-primary" value="{% if receita.id %}Atualizar{%else%}Cadastrar{%endif%}"><hr>
            <a href="{{url('admin/receitas/listar')}}" class="btn btn-outline-secondary" tooltip="tooltip" title="Voltar ao Menu">Voltar</a>

        </form> 

    </div>
</div>
{% endblock %}