{% extends "dashboard.html" %}

{% block conteudo %}  
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" style="font-size: 11px">
            <a href="{{url('admin/dashboard')}}">
                Admin
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            Relação de Receitas
        </li>
    </ol>
</nav>
{{ flash() }}
<div class="card border-0 shadow-sm">
    <div class="card-header bg-white border-0 d-flex justify-content-between align-items-center">
        <div>
            <span class="badge rounded text-bg-secondary">{{total.receitas}} total</span> 
            <span class="badge rounded text-bg-success">{{total.receitasAtiva}} ativo</span> 
            <span class="badge rounded text-bg-danger">{{total.receitasInativa}} inativo</span> 
        </div>
        <a href="{{url('admin/receitas/cadastrar')}}" class="btn btn-primary" tooltip="tooltip" title="Cadastrar Receitas">Cadastrar</a>

    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table id="tabelaReceitas" url="{{url()}}" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th class="text-center">Nome</th>
                        <th class="text-center">descrição</th>
                        <th class="text-center">Modo de preparo</th>
                        <th class="text-center">Qtde Prevista</th>
                        <th class="text-center">Validade</th>
                        <th class="text-center">Cliente/Fábrica</th>
                        <th class="text-center">Status</th>
                        <th class="text-center">Ações</th>
                    </tr>
                </thead>
            </table>
        </div>        
    </div>
</div>
{% endblock %}