{% extends "dashboard.html" %}

{% block conteudo %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{url('admin/dashboard')}}">
                ADMIN&Usuários
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            Cadastrar Novo Pedido de Produção
        </li>
    </ol>
</nav>

{{ flash() }}

<div class="card border-0 shadow-sm">
    <div class="card-body">
        <form action="{% if prod.id_pedido_producao %}{{url('admin/producao/editar/'~prod.id_pedido_producao)}}{%else%}{{url('admin/producao/cadastrar')}}{%endif%}" method="post">

            <div class="row">
                <div class="col-md-3">
                    <div class="mb-3">
                        <label for="data_pedido_prod" class="form-label">Data Pedido</label>
                        <input type="date" name="data_pedido_prod" id="data_pedido_prod" class="form-control">             
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="mb-3">
                        <label for="tbl_loja_pdv_id_tbl_loja_pdv" class="form-label">Loja_Filial</label>
                        <textarea name="tbl_loja_pdv_id_tbl_loja_pdv" id="tbl_loja_pdv_id_tbl_loja_pdv" class="form-control" rows="1"></textarea>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="mb-3">
                        <label for="id_cliente_fabrica" class="form-label">Cliente Fábrica</label>
                        <select class="form-select" name="id_cliente_fabrica" id="id_cliente_fabrica">
                            {% for fabrica in tbl_cliente_fabrica %}
                            <option value="{{fabrica.id_tbl_cliente_fabrica}}" {% if prod.id_cliente_fabrica == fabrica.id_tbl_cliente_fabrica %}selected{%endif%}>{{fabrica.nome_cliente}}</option>
                            {%endfor%}
                        </select>
                    </div>
                </div>

            </div>
            <div class="col-md-9">
                <div class="mb-4">
                    <label for="descricao_pedido" class="form-label">Descrição do Pedido .(OBS.: Adicionar detalhes caso necessite).</label>
                    <textarea name="descricao_pedido" id="descricao_pedido" class="form-control" rows="3"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="mb-3">
                        <label for="qtde_pedido" class="form-label">Qtde Pedido</label>
                        <input type="number" name="qtde_pedido" id="qtde_pedido" class="form-control" rows="1">
                        <!-- ver tipo input....para numero???? -->
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="mb-3">
                        <label for="data_entrega_pedido" class="form-label">Entrega Pedido</label>
                        <input type="date" name="data_entrega_pedido" id="data_entrega_pedido" class="form-control">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="mb-3">
                        <label for="status" class="form-label">Status</label>
                        <select class="form-select" name="status">
                            <option value="1" {% if prod.status == '1' %}selected{%endif%}>Ativo</option>
                            <option value="0" {% if prod.status == '0' %}selected{%endif%}>Inativo</option>
                        </select>
                    </div>
                </div>
            </div>  
            <input type="submit" class="btn btn-primary" value="{% if prod.id_pedido_producao %}Atualizar{%else%}Cadastrar{%endif%}"><hr>

            <div class="row">
                <div class="col-md-4">
                    <div class="mb-3">
                        <a href="{{url('admin/producao/consultar')}}" class="btn btn-dark" tooltip="tooltip" title="Consultar Pedidos">Consultar Pedidos</a>
                        <a href="{{url('admin/producao/listar')}}" class="btn btn-dark" tooltip="tooltip" title="Voltar ao Menu">Voltar</a>
                    </div>
                </div>
            </div>
        </form>
    </div> 
</div>
{% endblock %}