{% extends "dashboard.html" %}

{% block conteudo %}  
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" style="font-size: 11px">
            ADMIN & Usuários
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            Relação de PDVs de Vendas / Filiais X Fábricas
        </li>
    </ol>
</nav>
{{ flash() }}
<div class="card border-0 shadow-sm">
    <div class="card-header bg-white border-0 d-flex justify-content-between align-items-center">
        <div>
            <span class="badge rounded text-bg-secondary">{{total.pdvs}} total</span> 
            <span class="badge rounded text-bg-success">{{total.pdvsAtivo}} ativo</span> 
            <span class="badge rounded text-bg-danger">{{total.pdvsInativo}} inativo</span> 
        </div>
        <a href="{{url('admin/pdvs/cadastrar')}}" class="btn btn-primary" tooltip="tooltip" title="Cadastrar PDV">Cadastrar</a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table id="tabelaPdvs" url="{{url()}}" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Nome Loja</th>
                        <th scope="col">Fábrica/Matriz</th>
                        <th scope="col">Nome Responsável</th>
                        <th scope="col">Endereço</th>
                        <th scope="col">bairro</th>
                        <th scope="col">cidade</th>
                        <th scope="col">uf</th>
                        <th scope="col">Contato</th>
                        <th class="text-center">Status</th>
                        <th class="text-center">Ações</th>
                    </tr>
                </thead>
            </table>
        </div>     
        <a href="{{url('admin/clientes/listar')}}" class="btn btn-outline-secondary" tooltip="tooltip" title="Voltar ao Menu">Voltar</a>
    </div>
</div>
{% endblock %}